@model WeatherApp_cc.Models.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Weather App Code Challenge</h1>
    <br />
    <br />
    <p>Welcome to the weather app code challenge, please sign in</p>
    @using (Html.BeginForm("GetUserCredentials", "Home", FormMethod.Get))
    {
        <form>
            <div class="form-row">
                <div class="offset-md-5">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "UserName" })
                </div>
            </div>
            @if (ViewData["Message"] != null)
            {
                Html.ValidationMessageFor(m => m.UserName, ViewData["Message"].ToString(), new { @class = "text-danger" });
            }
            <div class="top-buffer">
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
        </form>
    }
    <br>
    <p> or </p>
    <p>If you don't have an account click here to <a asp-area="" asp-controller="Home" asp-action="SignUp">Sign Up</a> </p>
</div>
