@{
    ViewData["Title"] = "Weather";
}
<form>
    <button class="btn btn-primary" type="submit">Add</button>
    <button class="btn btn-secondary" type="submit">Delete</button>   
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User Name</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Temp</th>
            </tr>
        </thead>
    </table>
</form>
